* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    section {


        #main {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 25px;

            #right-linking-page {
                width: 65%;
                display: flex;
                flex-direction: column;

                #icon-list {
                    height: 10%;
                }

                #project-img-div {
                    height: 90%;

                    img {
                        padding: 0;
                        border: none;
                    }
                }
            }

            #left-linking-page {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 15%;
                max-width: 30%;
                padding: 25px 14px;
                height: 100%;

                button {
                    font-size: 0.85rem;
                    font-family: 'Plus Jakarta Sans';
                    padding: 4px 6px;
                    width: 175px;
                    background-color: #B24BF3;
                    border: none;
                    border-radius: 10px;
                    border: 8px outset #cb33f1;
                    color: #3c2a47;
                    font-weight: 700;
                    box-shadow: 5px 5px 15px rgba(160, 34, 238, 0.616);
                }

                button:hover {
                    transform: scale(0.9);
                    transition: transform 0.06s ease-in-out;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                }

                #icon-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .icon {
                        width: 50px;
                        border: none;
                        padding: 0;
                    }
                }
            }
        }
    }
}